<h2>Sign Up</h2>

<br><br>
<form method="POST" action="/auth/signup" enctype="multipart/form-data">


        <h4>Who would you like to sign-up as today?</h4>
        <div class="form-check form-check-inline groupOne">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="userRole" value="buyer">
            <label class="form-check-label" for="inlineCheckbox1">a buyer</label>
        </div>
        <div class="form-check form-check-inline groupOne">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="userRole" value="seller">
            <label class="form-check-label" for="inlineCheckbox2">a seller</label>
        </div>

        <br>

    <!-- basic user info -->
        <div class="groupOne group1">
            <h4>Great! Please complete your registration...</h4>
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstNameInput" name="firstName" placeholder="Enter first name">
        </div>
        <br>
        <div class="groupOne group1">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastNameInput" name="lastName" placeholder="Enter last name">
        </div>
        <br>
        <div class="groupOne group1">
            <label  for="image">Upload a profile photo</label><br>
            <input  type="file" id="image" name="image">
        </div>


    <!-- basic seller info -->
            <br>
            <div class="groupTwo">
                <label for="sellerName">Seller Name</label>
                <input type="text" class="form-control" id="sellerNameInput" name="sellerName" placeholder="Enter seller name">
            </div>
            <br>
            <div class="groupTwo">
                <label for="exampleFormControlTextarea1">Add a bio to your seller page</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="bio" placeholder="max 500 characters"></textarea>
            </div>
            <br>
            <!-- <label  for="image"> Upload a header image for your seller page</label><br>
            <input  type="file" id="image" name="headerPhoto"> -->

        <br>
    <!-- security info -->
        <div class="groupOne group1">
            <label for="emailAddress">Email address</label>
            <input type="email" class="form-control" id="emailAddressInput" name="emailAddress" placeholder="Enter email">
        </div>
        <br>
        <div class="groupOne group1">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password must be more than 6 characters">
        </div>
        <br>
        <div class="groupOne group1">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="passwordConfirmInput" placeholder="Confirm your password">
            <small id="passwordConfirmHelp" class="form-text text-muted"></small>
        </div>
        <br>
       <button type="submit" class="btn btn-primary mb-2">Complete Registration</button>
    </div>

</form>

<script>
    $('.groupTwo').hide()
    $('.group1').hide()
    $('input:checkbox[name="userRole"]').change(function(){
    
        if ($(this).val() == 'seller') {
            $('.groupTwo').show()
            $('.group1').show()
        }
        
        if ($(this).val() == 'buyer') {
            $('.groupTwo').hide()
            $('.group1').show()
        }
    })
</script>