<h2>Update Password</h2>

<form class="signin-form" method="POST" action="/auth/update_password">
   
    
    <div class="form-group">
      <label for="exampleInputPassword1"> Old Password</label>
      <input type="password" class="form-control" name="oldPassword" id="" placeholder="">
    </div>
    <br/>

 <div class="form-group">
        <label for="exampleInputPassword1"> New Password </label>
        <input type="password" class="form-control" name="newPassword" id="" placeholder="password must be 6 or more characters">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1"> confirmPassword </label>
        <input type="password" class="form-control" name="confirmPassword" id="" placeholder="passwords must match">
      </div>
 <button class="btn btn-primary" href="/" role="button">Update Password</button>

</form>