<h1> Add seller </h1>

<form method="POST" action="/product/add">

    <div class="form-group">
        <label>Name</label>
        <input type="text" name="sellerName" class="form-control"/>
    </div>
    <div>
        <label>Bio</label>
        <input type="textarea" name="bio"  class="form-control"/>
    </div>
    <div>
        <label>Profile photo</label>
        <input type="text" name="profilePhoto"  class="form-control"/>
    </div>
    <div>
        <label>User</label>
        <input type="text" name="user"  class="form-control"/>
    </div>
    <div>
        <label>Review</label>
        <input type="text" name="review"  class="form-control"/>
    </div>

    
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" id="attribute">Seller</label>
        <div class="col-sm-10">
        <select name="seller[]" multiple="multiple" class="form-control">
            <%  sellers.forEach(function(seller) {     %>
                <option value="<%= seller._id %>"> <%= seller.sellerName %> </option>
            <% }) %>
        </select>
    </div>
    <div>
        <label>Transaction ID</label>
        <input type="text" name="transactionID"  class="form-control"/>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Create product</button>
    
</form>