<h2>User Dashboard</h2>

<nav>
    <ul>
        <li><a href="">Update Account Info</a></li>
    </ul>
</nav>

<div>
    <h3>Favourites</h3>
</div>

<div>
    <h3>Reviews</h3>
</div>

<div>
    <h3>Recently Purchased</h3>
</div>

<div>

</div>
