<h1> Add product </h1>

<form method="POST" action="/product/add">

    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control"/>
    </div>
    <div>
        <label>Subtitle</label>
        <input type="text" name="subTitle"  class="form-control"/>
    </div>
    <div>
        <label>Description</label>
        <input type="text" name="description"  class="form-control"/>
    </div>
    <div>
        <label>Condition</label>
        <input type="text" name="condition"  class="form-control"/>
    </div>
    <div>
        <label>Price</label>
        <input type="text" name="price"  class="form-control"/>
    </div>
    <div>
        <label>Category</label>
        <input type="text" name="category"  class="form-control"/>
    </div>
    <div>
        <label>Subcategory</label>
        <input type="text" name="subCategory"  class="form-control"/>
    </div>
    <div>
        <label>Shipping Rate</label>
        <input type="text" name="shippingRate"  class="form-control"/>
    </div>
    <div>
        <label>Returns</label>
        <input type="text" name="returnsPolicy"  class="form-control"/>
    </div>
    <!-- <div>
        <label>Seller</label>
        <input type="text" name="seller"  class="form-control"/>
    </div> -->
    <!-- <div>
        <label>Favourite</label>
        <input type="text" name="favourite"  class="form-control"/>
    </div> -->
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" id="attribute">Seller</label>
        <div class="col-sm-10">
        <select name="seller[]" multiple="multiple" class="form-control">
            <%  sellers.forEach(function(seller) {     %>
                <option value="<%= seller._id %>"> <%= seller.sellerName %> </option>
            <% }) %>
        </select>
    </div>
    <div>
        <label>Transaction ID</label>
        <input type="text" name="transactionID"  class="form-control"/>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Create product</button>
    
</form>