<h1> Shopping cart </h1>

<table class="table table-striped">
    <tr>
        <th>Product</th>
        <th>Seller</th>
        <th>Price</th>
        <th>Shipping</th>
    </tr>
<% console.log(arr[0]) %>

</table>